---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: "Palatino Linotype", sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: darkslateblue;

@import "ed";
@import "syntax";
@import "CETEIcean.css";

.flexbox {
  display: flex;
}

.flexme {
  flex: 1;
}

.item1 {
  flex: 60%;
}

.item2 {
  flex: 40;
}


.justifyme {
  text-align: justify;
}

.centerme {
  text-align: center;
}

h1, h2, h3 {
  color: darkslateblue;
  margin-bottom: 0.2rem;
}

h3 {
  margin-top: 0.5rem;
}

hr {
  background-color: darkslateblue;
  height: 5px;
}